h1 {
  font-family: Georgia;
  font-size: 48px;
}

body {
  font-size: 18px;
}

.post-title a{
  color: #000;
}

.post-title a:hover{
  color: #777;
}

.tag {
  padding: 2px;
  border-radius: 10%;
  border: 0.5px solid #333;
}

.tag a {
  color: #333;
}

.tag:hover {
  background-color: #eee;
}
